<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>Topinz Bot</title>

  <link
    rel="stylesheet" href="./css/style.css">

</head>

<body>

  <div class="container">

    <div class="hero">

      <h1>🤖 Topinz Bot</h1>

      <p>
        Advanced Discord Moderation,
        Verification & Community Bot
      </p>

    </div>

    <div class="stats">

      <div class="card">

        <span id="servers">
          0
        </span>

        <p>Servers</p>

      </div>

      <div class="card">

        <span id="users">
          0
        </span>

        <p>Users</p>

      </div>

      <div class="card">

        <span>
          Online
        </span>

        <p>Status</p>

      </div>

    </div>

    <div class="buttons">

      <a
        href="https://discord.com/oauth2/authorize?client_id=1514768763722137800&permissions=8&scope=bot%20applications.commands"
        target="_blank"
      >
        Invite Bot
      </a>

      <a
        href="https://verify.topinzpedia.web.id"
        target="_blank"
      >
        Dashboard
      </a>

    </div>

  </div>

  <script src="/js/app.js"></script>

</body>
</html>